break-cases = toplevel
break-fun-decl = wrap
break-infix = wrap
break-infix-before-func = true
break-separators = after
cases-exp-indent = 4
dock-collection-brackets = true
exp-grouping = parens
field-space = tight
function-indent = 4
if-then-else = k-r
indent-after-in = 4
indicate-multiline-delimiters = no
infix-precedence = parens
let-binding-indent = 4
margin = 80
match-indent = 4
space-around-arrays = false
space-around-lists = false
space-around-records = false
type-decl = sparse
type-decl-indent = 4
wrap-comments = true
